{% extends 'base.html.twig' %}

{% block title %}Bienvenue
{% endblock %}
{% block body %}
	<section class="container mt-4">
		<h1>Salut les Zouzou</h1>
		<p>Rien ne nous ferait plus plaisir que d'avoir un message de vous :</p>
		{% if user %}
			<a class="text-white" href="{{ path('app_private')}}">Flag</a>
			<a href="{{ path('app_logout')}}">Logout</a>
		{% else %}
			<a class="text-white" href="{{ path('app_login')}}">Login</a>
		{% endif %}
	</section>
{% endblock %}
